<picture>
  {{# sources }}
    <source
      type="{{ type }}"
      srcset="{{# srcset }}{{ src }} {{ size }}, {{/ srcset }}" media="{{ media }}">
  {{/ sources }}
  {{# src }}
    {{> atoms-image}}
  {{/ src }}
</picture>
