<ul class="carousel">
		<li id="a" class="carousel__item"><img class="carousel__image" src="../../images/meters.png" alt=""></li>
		<li id="b" class="carousel__item"><img class="carousel__image"  src="../../images/heart.png" alt=""></li>
		<li id="c" class="carousel__item"><img class="carousel__image"  src="../../images/euro.png" alt=""></li>
		<li id="d" class="carousel__item"><img class="carousel__image"  src="../../images/bell.png" alt=""></li>
	</ul>

  <ul class="foo">
		<li><a href="#a">a</a></li>
		<li><a href="#b">b</a></li>
		<li><a href="#c">c</a></li>
		<li><a href="#d">d</a></li>
	</ul>
